<% page.posts.each(function(post){ %>
	<%- partial('_partial/article', {post: post, index: true}) %>
<% }); %>

<% if (page.total > 1){ %>
	<div class="my-card">
		<div class="paginator">
			<%- paginator({
				prev_next: true,
				prev_text: '‹',
				next_text: '›',
			}) %>
		</div>
	</div>
<% } %>
